.favorites {
  max-width: 350px;
  min-width: 350px;
  margin: 0;
  padding: 25px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 1px 0px 20px 0px #0000001a;
  display: flex;
  flex-direction: column;
}

.favorites h3 {
  margin-top: 0;
}

.favorites-place-list {
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.favorites-place-list::-webkit-scrollbar {
  width: 5px;
}

.favorites-place-list::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.favorites-place-list::-webkit-scrollbar-thumb {
  background-color: #00000080;
  border-radius: 10px;
}
